set timeout=6
set default=0
set menu_color_normal=yellow/black
set menu_color_highlight=black/yellow
set gfxmode=auto
set gfxpayload=keep

serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial

menuentry "BananaMind OS - graphical model library" {
    multiboot /boot/kernel.elf ui=graphical models=iso
    boot
}

menuentry "BananaMind OS - 486 compatibility mode" {
    multiboot /boot/kernel-486.elf ui=compat models=iso cpu=486
    boot
}
