set timeout=6
set default=0
set menu_color_normal=yellow/black
set menu_color_highlight=black/yellow
serial --unit=0 --speed=115200
terminal_input console serial
terminal_output console serial

menuentry "BananaMind OS - High Quality mode (486+)" {
    set gfxmode=1024x768x32,1024x768,auto
    set gfxpayload=keep
    multiboot /boot/kernel.elf ui=hq models=iso
    boot
}

menuentry "BananaMind OS - graphical model library (current)" {
    set gfxmode=auto
    set gfxpayload=keep
    multiboot /boot/kernel.elf ui=graphical models=iso
    boot
}

menuentry "BananaMind OS - 486 compatibility mode" {
    multiboot /boot/kernel-486.elf ui=compat models=iso cpu=486
    boot
}
